@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-yellow: #f1c30c;
  --clr-dark-green: #12372a;
  --clr-light-green: rgba(18, 55, 42, 0.8);
  --clr-text-hero: white;
  --hover-btn-bg: #ececec62;
  --clr-light-yellow: #faf8ec;

  --section-spacing: 4rem;
}

body {
  font-family: "Urbanist", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--clr-yellow);
  font-size: 64px;
  font-weight: 800;
}

h3 {
  color: var(--clr-dark-green);
  font-size: 52px;
  font-weight: 700;
}

h4 {
  color: var(--clr-yellow);
  font-size: 25px;
  font-weight: 700;
}

h5 {
  font-size: 24px;
  color: var(--clr-dark-green);
}

h6 {
  color: var(--clr-dark-green);
  font-size: 20px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container-space {
  width: 100%;
  margin-inline: auto;

  @media (width > 576px) {
    max-width: 540px;
  }

  @media (width > 768px) {
    max-width: 720px;
  }

  @media (width > 992px) {
    max-width: 960px;
  }

  @media (width > 1200px) {
    max-width: 1140px;
  }

  @media (width > 1400px) {
    max-width: 1350px;
  }
}
.text-lg {
  color: var(--clr-dark-green);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.header-btn {
  background-color: var(--clr-yellow);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-btn {
  background-color: white;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: var(--clr-yellow);
  color: var(--clr-dark-green);
  width: 7.5rem;
  height: 2.9rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.hover-btn {
  width: 322px;
  height: 156px;
  outline: 0;
  border: 0;

  cursor: pointer;
}

.top-text-small {
  display: flex;

  p {
    max-width: 40%;
  }
}

.header-top {
  background-color: var(--clr-dark-green);

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .left-header {
    display: flex;
    align-items: center;

    gap: 3rem;

    p {
      display: inline;
      padding-left: 0.5rem;
      font-size: 16px;
      color: white;
    }
  }

  .right-header {
    display: flex;
    justify-content: center;

    gap: 1.5rem;
  }
}

.nav {
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }

  .nav-menu {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem;
    align-items: center;
  }
}

.hero {
  background-color: var(--clr-light-green);

  .container-space {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 10rem;
  }

  .hero-img-side {
    padding-top: 10rem;

    img {
      height: 100%;
    }
  }

  .hero-text-side {
    display: flex;
    flex-direction: column;
    color: var(--clr-text-hero);

    justify-content: center;
  }

  .hero-small-tittle {
    color: var(--clr-yellow);
    font-size: 25px;
  }

  .hero-heading {
    font-size: 80px;
  }
  .hero-p {
    font-size: 16px;
  }

  .hero-btn {
    margin-top: 2rem;
    width: 9.3rem;
  }
}

.about-us {
  padding-block: var(--section-spacing);
  background-color: white;
  .container-space {
    display: flex;
    gap: 2rem;
  }

  .img-bar {
    background-color: var(--clr-dark-green);
    display: flex;
    justify-content: space-around;
  }

  .hover-btn-about-us {
    display: flex;
    gap: 1rem;
  }

  .about-us-lower {
    display: flex;
    gap: 10rem;
  }

  .about-us-ph {
    background-color: var(--clr-dark-green);
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .img-icon {
    background-color: var(--clr-dark-green);
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }
  }

  .icon-text {
    margin-left: -7rem;
  }
}

.partners {
  padding-block: var(--section-spacing);
  background-color: #faf8ec;
  .container-space {
    display: flex;
    justify-content: space-around;
  }

  .partners-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}

.services {
  padding-block: var(--section-spacing);

  .container-space {
    display: flex;
  }

  .top-text-small {
    display: flex;

    p {
      max-width: 40%;
    }
  }

  /* got help from chatgpt with grid area */

  .services-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    grid-template-areas:
      "box1 img-box box2"
      "box3 img-box box4";

    align-items: center;
    gap: 3rem;
  }

  .box1 {
    grid-area: box1;
  }

  .box2 {
    grid-area: box2;
  }

  .box3 {
    grid-area: box3;
  }

  .box4 {
    grid-area: box4;
  }

  .img-box {
    grid-area: img-box;
  }
}

.top-text-small {
  display: flex;
  gap: 12rem;
  padding-top: 1rem;
  .h3-title {
    width: 50%;
  }
}

.ChooseUs {
  background-color: var(--clr-light-yellow);
  padding-block: var(--section-spacing);
  .container-space {
    display: flex;
  }

  .infoBox1 {
    display: flex;
    gap: 1.5rem;
    padding-top: 2rem;
  }

  .img-box1 {
    background-color: #12372a;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infoBox1Text {
    width: 70%;

    p {
      padding-top: 0.8rem;
    }
  }
}

.pricing {
  padding-block: var(--section-spacing);
  background-color: white;

  .top-text {
    padding-bottom: 2rem;
  }

  .container-space {
    display: flex;
    justify-content: space-between;
  }

  .pricingCard {
    background-color: var(--clr-light-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    width: 20rem;
  }

  .priceNumber {
    display: flex;
    padding-top: 1.2rem;
  }

  .line {
    padding-top: 2rem;
  }

  .priceP {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
  }

  .checkmark {
    display: flex;
    background-color: var(--clr-dark-green);
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  .pricing-btn {
    padding-top: 2rem;
  }
}

.booknow {
  padding-block: var(--section-spacing);
  background-color: var(--clr-dark-green);
  .container-space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .booknow-text {
    width: 80%;
  }

  .booknow-h3 {
    color: white;
    padding-bottom: 2rem;
  }
  .booknow-p {
    color: white;
  }
  .booknow-btn {
    padding-top: 1rem;
  }
}

.subscribe {
  padding-block: var(--section-spacing);
  background-color: var(--clr-light-yellow);

  .container-space {
    display: flex;
    justify-content: space-between;
  }

  .subscribe-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .email {
    width: 540px;
    height: 60px;
    font-size: 20px;
  }
}

.footer {
  background-color: var(--clr-dark-green);
  height: 60px;
  align-content: center;

  .container-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-text-left {
    p {
      color: white;
    }
  }

  .footer-text-right {
    display: flex;
    gap: 1rem;
  }

  .terms-btn {
    display: flex;
    gap: 0.5rem;

    p {
      color: white;
    }
  }

  .footer-btn {
    display: flex;
  }
}

.althero {
  background-color: var(--clr-light-green);

  .container-space {
    display: flex;
    flex-direction: column;
    padding-block: 9.5rem;
  }

  h1 {
    font-size: 80px;
    color: var(--clr-text-hero);
  }

  p {
    font-size: 16px;
    color: var(--clr-text-hero);
    width: 50%;
    padding-top: 2rem;
  }
}

.pageNotFound {
  background-color: var(--clr-light-green);

  .container-space {
    display: flex;
    justify-content: center;
    padding-block: 25rem;
  }

  .pg-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pg-title-small {
    color: white;
  }

  .pg-header {
    color: var(--clr-yellow);
    font-size: 80px;
  }

  .pg-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    width: 80%;
  }
}

.Getintouch {
  padding-block: var(--section-spacing);

  .container-space {
    display: flex;
    gap: 3rem;
  }

  .top-text-small {
    width: 200%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .img-left {
    padding-top: 2rem;
  }

  .right-side {
    background-color: var(--clr-light-yellow);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
    padding-block: 2rem;
  }

  .yourname-input {
    width: 600px;
    height: 60px;
    font-size: 20px;
  }

  .email-tele {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }

  .email-input {
    width: 290px;
    height: 59px;
    font-size: 20px;
  }
  .tele-input {
    width: 290px;
    height: 59px;
    font-size: 20px;
  }

  .subject-input {
    width: 600px;
    height: 59px;
    font-size: 20px;
  }

  .comments-input {
    width: 600px;
    height: 150px;
    font-size: 20px;
  }

  .form-box {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;
  }

  .form-p {
    padding-bottom: 1rem;
  }
}

.bookingunit {
  padding-block: var(--section-spacing);


  .container-space {
    display: flex;
    gap: 3rem;
    
  }
  
  .bookingright {
    position: relative;
    padding-top: 3.5rem;
  }

  .bookleft {
    width: 100%;
  }

  .heading-p {
    padding-bottom: 3.5rem;
  }


  .top-text-small {
    width: 200%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .yourname-email {
    display: flex;
    gap: 1rem;
  }

  .form-box {
    padding-block: 2rem;
    background-color: var(--clr-light-yellow);
  }

  .name-email-input {
    width: 288px;
    height: 50px;
    font-size: 17px;
  }

  .unit-input {
    width: 596px;
    height: 50px;
  }


  .storage-input {
    width: 596px;
    height: 150px;

  }

  .form-p {
    padding-bottom: 1rem;
    padding-top: 1rem;

  }

  .storage {
    padding-bottom: 2rem;
  }
  
}
